body {
    font-family: 'Atkinson Hyperlegible';
    margin: 0;
    background-color: #A874D2;
}

#banner {
    padding: 15px;
    box-shadow: 0px 5px 5px rgb(35, 35, 35);
    background-color: #A874D2;
}

#hamburger {
    display: none;
}

.hamburger {
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 20px;
    height: 18px;
    padding: 0;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    height: 3px;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transform: all 1s ease-in-out;
}


.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked~.hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked~.hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked~.hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

.slideout {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #A874D2;
    width: 100%;
    transform: translateY(-180%);
    transition: all 0.2s ease-in;
}

#hamburger:checked~.slideout {
    transform: translateY(0);
}

a{
    padding-top: 25px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
}