body {
    font-family: "Atkinson Hyperlegible";
    margin: 0;
    background-color: #a874d2;
}

.doel img{
    position: relative;
    left: -70%;
    margin-top: -25%;
}

.doel p{
    font-size: 1.8em;
    padding-left: 15px;
    color: white;
}

h4{
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 2.8em;
    color: white;
    text-align: center;
}

.iconsKernwaarden{
    justify-content: center;
    display: flex;
    gap: 40px;
    margin-top: 40px;
}
.icons{
    align-items: center;
    text-align: center;
    color: white;
    display: block;
}

.icons img{
    width: 80px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 15px;
    font-size: 3.5rem;
    color: white;
}

h2 {
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    text-align: center;
    font-size: 2.8em;
    color: #a874d2;
    text-shadow:
        -4px -4px 0 white,
        4px -4px 0 white,
        -4px 4px 0 white,
        4px 4px 0 white,
        -4px 0 0 white,
        4px 0 0 white,
        0 -4px 0 white,
        0 4px 0 white;

    font-weight: 900;
}

.button {
    color: white;
    width: fit-content;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    background-color: #2ebfa5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: bold;
}

.mindyImageOne {
    display: flex;
    justify-content: center;
}



#banner {
    padding: 15px;
    box-shadow: 0px 5px 5px rgb(35, 35, 35);
    background-color: #a874d2;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

#hamburger {
    opacity: 0;
}

.hamburger {
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 20px;
    height: 18px;
    padding: 0;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    height: 3px;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transform: all 1s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked~.hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked~.hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked~.hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

.slideout {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #a874d2;
    width: 100%;
    transform: translateY(-180%);
    transition: all 0.2s ease-in;
}

#hamburger:checked~.slideout {
    transform: translateY(0);
    visibility: visible;
}

a {
    padding-top: 25px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
}